lists

In [1]:
mylist=[10,20,30,43,'sana','Allah',12]
print(mylist)

[10, 20, 30, 43, 'sana', 'Allah', 12]

<!-- operations in list -->

In [3]:
mylist.append(1000)
print(mylist)

[10, 20, 30, 43, 'sana', 'Allah', 12, 1000]

In [4]:
mylist.insert(5,200)
mylist

[10, 20, 30, 43, 'sana', 200, 'Allah', 12, 1000]

In [5]:
mylist[2:5]
mylist

[10, 20, 30, 43, 'sana', 200, 'Allah', 12, 1000]

In [10]:
lastlist=[100,300,300,400,200,'sana','adeeba','saima']

In [11]:
lastlist

[100, 300, 300, 400, 200, 'sana', 'adeeba', 'saima']

In [12]:
lastlist.count(300)

2

In [16]:
# Using list() Constructor
a = list((1, 2, 3, 'apple', 4.5))  
print(a)

b = list("GFG")
print(b)

[1, 2, 3, 'apple', 4.5]
['G', 'F', 'G']

In [17]:
Eesa=list((10,20,30,'fairoz','sana',7.8))
print(Eesa)
print(type(Eesa))

[10, 20, 30, 'fairoz', 'sana', 7.8]
<class 'list'>

In [18]:
b=list("EDED")
print(b)
print(type(b))

['E', 'D', 'E', 'D']
<class 'list'>

In [19]:
'''3. Creating List with Repeated Elements
 We can use the multiplication operator * to create a list with repeated items.

 Example: Creating lists with repeated values.'''
a = [2] * 5
b = [0] * 7

print(a)
print(b)

[2, 2, 2, 2, 2]
[0, 0, 0, 0, 0, 0, 0]

In [20]:
"""Accessing List Elements
Elements in a list are accessed using indexing. Python indexes start at 0, so a[0] gives the first element. Negative indexes allow access from the end (e.g., -1 gives the last element).

Example: Accessing first, last and slicing elements."""
a = [10, 20, 30, 40, 50]
print(a[0])    
print(a[-1])
print(a[1:4])   # elements from index 1 to 3

10
50
[20, 30, 40]

Adding Elements into List
We can add elements to a list using the following methods:

append(): Adds an element at the end of the list.
extend(): Adds multiple elements to the end of the list.
insert(): Adds an element at a specific position.
clear(): removes all items.
Example: Demonstrating append, insert, clear and extend.

In [21]:
a = []

a.append(10)  
print("After append(10):", a)  

a.insert(0, 5)
print("After insert(0, 5):", a) 

a.extend([15, 20, 25])  
print("After extend([15, 20, 25]):", a) 

a.clear()
print("After clear():", a)

After append(10): [10]
After insert(0, 5): [5, 10]
After extend([15, 20, 25]): [5, 10, 15, 20, 25]
After clear(): []

In [22]:
'''Updating Elements into List
Since lists are mutable, we can update elements by accessing them via their index.

Example: Updating the second element.'''
a = [10, 20, 30, 40, 50]
a[1] = 25 
print(a)

[10, 25, 30, 40, 50]

In [23]:
"""Removing Elements from List
We can remove elements from a list using:

remove(): Removes the first occurrence of an element.
pop(): Removes the element at a specific index or the last element if no index is specified.
del statement: Deletes an element at a specified index.
Example: Demonstrating remove, pop and del."""
a = [10, 20, 30, 40, 50]

a.remove(30)  
print("After remove(30):", a)

popped_val = a.pop(1)  
print("Popped element:", popped_val)
print("After pop(1):", a) 

del a[0]  
print("After del a[0]:", a)

After remove(30): [10, 20, 40, 50]
Popped element: 20
After pop(1): [10, 40, 50]
After del a[0]: [40, 50]

In [24]:
"""Iterating Over Lists
We can iterate over lists using loops, which is useful for performing actions on each item.

Example: Iterating with a for loop."""
a = ['apple', 'banana', 'cherry']
for item in a:
    print(item)

apple
banana
cherry

In [25]:
"""Nested Lists
A nested list is a list within another list, which is useful for representing matrices or tables. We can access nested elements by chaining indexes.

Example: Accessing elements of a nested list (2D list)."""
matrix = [ [1, 2, 3],
           [4, 5, 6],
           [7, 8, 9] ]
print(matrix[1][2])

6