lists

In [1]:
mylist=[10,20,30,43,'sana','Allah',12]
print(mylist)

[10, 20, 30, 43, 'sana', 'Allah', 12]

<!-- operations in list -->

In [3]:
mylist.append(1000)
print(mylist)

[10, 20, 30, 43, 'sana', 'Allah', 12, 1000]

In [4]:
mylist.insert(5,200)
mylist

[10, 20, 30, 43, 'sana', 200, 'Allah', 12, 1000]

In [5]:
mylist[2:5]
mylist

[10, 20, 30, 43, 'sana', 200, 'Allah', 12, 1000]

In [10]:
lastlist=[100,300,300,400,200,'sana','adeeba','saima']

In [11]:
lastlist

[100, 300, 300, 400, 200, 'sana', 'adeeba', 'saima']

In [12]:
lastlist.count(300)

2

In [16]:
# Using list() Constructor
a = list((1, 2, 3, 'apple', 4.5))  
print(a)

b = list("GFG")
print(b)

[1, 2, 3, 'apple', 4.5]
['G', 'F', 'G']

In [17]:
Eesa=list((10,20,30,'fairoz','sana',7.8))
print(Eesa)
print(type(Eesa))

[10, 20, 30, 'fairoz', 'sana', 7.8]
<class 'list'>

In [18]:
b=list("EDED")
print(b)
print(type(b))

['E', 'D', 'E', 'D']
<class 'list'>

In [19]:
'''3. Creating List with Repeated Elements
 We can use the multiplication operator * to create a list with repeated items.

 Example: Creating lists with repeated values.'''
a = [2] * 5
b = [0] * 7

print(a)
print(b)

[2, 2, 2, 2, 2]
[0, 0, 0, 0, 0, 0, 0]